.movingHead0 {
    animation: moveHead 3.7s infinite;
}

.movingHead1 {
    animation: moveHead 4s infinite;
}

.movingHead2 {
    animation: moveHead 4.3s infinite;
}

.movingHead3 {
    animation: moveHead 4.6s infinite;
}

.movingHead4 {
    animation: moveHead 5s infinite;
}

.movingHead5 {
    animation: moveHead 5.3s infinite;
}

.movingHead6 {
    animation: moveHead 5.6s infinite;
}
@keyframes moveHead {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes earTwitch {
    0% {
        transform: rotate(170deg);
    }
    40% {
        transform: rotate(170deg);
    }
    55% {
        transform: rotate(180deg);
    }
    60% {
        transform: rotate(160deg);
    }
    65% {
        transform: rotate(170deg);
    }
    100% {
        transform: rotate(170deg);
    }
}

.movingTail0 {
    animation: moveTail 450ms infinite;
}

.movingTail1 {
    animation: moveTail 500ms infinite;
}

.movingTail2 {
    animation: moveTail 550ms infinite;
}

.movingTail3 {
    animation: moveTail 600ms infinite;
}

.movingTail4 {
    animation: moveTail 650ms infinite;
}

@keyframes moveTail {
    0% {
        transform: rotate(-45deg);
    }
    33% {
        transform: rotate(-35deg);
    }
    66% {
        transform: rotate(-55deg);
    }
    100% {
        transform: rotate(-45deg);
    }
}